.btn-dropdown-active-reverse {
  &__container {
     position: relative;
    height: var(--btn-dropdown-active-reverse-height, 15px);
    width: var(--btn-dropdown-active-reverse-width, 25px);
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: var(--btn-dropdown-active-reverse-padding, 0.4rem 1.6rem 1.2rem 1rem);
  }

  &__arrow {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: var(--btn-dropdown-active-reverse-arrow-width, 3px);
      height: 10px;
      border-bottom: var(--btn-dropdown-active-reverse-border-bottom-size, 12px) solid
        var(--btn-dropdown-active-reverse-arrow-color, #fff);
      top: 0;
      left: 0;
      transition: var(--btn-dropdown-active-reverse-transition, all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8));
    }

    &:before {
      transform: rotate(-135deg);
      left: var(--btn-dropdown-active-reverse-right-el-left, 7px);
    }

    &:after {
      transform: rotate(135deg);
    }
  }

  &--active {
    & .btn-dropdown-active-reverse__arrow {
      &:before {
        transform-origin: center center;
        transform: rotate(-45deg) !important;
      }

      &:after {
        transform-origin: center center;
        transform: rotate(45deg) !important;
      }
    }
  }
}

.btn-dropdown-active-reverse__hover-circle {
  position: relative;
  padding: 1.6em;
  border-radius: 50%;
  transition: background-color 0.3s linear;

  & > div {
    @include center("both");
    margin-left: 0.2em;
  }
  &:hover {
    background-color: var(--btn-dropdown-active-reverse-hover-circle-color, rgba(168, 168, 168, 0.2));
  }
}
