.hov-l__bbr-up {
  --hov-l-bbr-up-color: #e8efff;
}

.hov-l__bbr-up {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--hov-l-bbr-up-color);
    content: "";
  }
  &:before {
    left: 0;
    width: 100%;
    transition: top 0.3s;
  }
  &:after {
    right: 0;
    width: 2px;
    transition: height 0.3s;
  }

  &:hover,
  &:focus {
    &:before {
      opacity: 1;
    }
    &:after {
      height: 100%;
    }
  }
}