.hov-l__brd-down {
  --hov-l-brd-down-color: #e8efff;
}

.hov-l__brd-down {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    height: 2px;
    background-color: var(--hov-l-brd-down-color);
    content: "";
  }

  &:before {
    left: 0;
    width: 100%;
    transition: top 0.3s;
  }

  &:after {
    right: 0;
    width: 2px;
    transition: height 0.3s;
  }
  
  &:hover,
  &:focus {
    &:before {
      top: 100%;
      opacity: 1;
    }
    &:after {
      height: 100%;
    }
  }
}
