.t-brand {
    color: var(--color-brand);
}
.t-accent {
    color: var(--color-accent);
}
.t-dark {
    color: var(--color-dark);
}

.t-gray {
    color: var(--color-gray);
}
.t-gray--light {
    color: var(--color-gray--light);
}
.t-white {
    color: var(--color-white);
}
