.hov-b__buzz {
    &:hover {
        animation: hov-buzz .15s linear infinite;
    }
    &:active, &:focus {
        animation: none;
    }
}


@keyframes hov-buzz {
    50% {
 
        transform: translateX(3px) rotate(
    2deg
    );
    }
    100% {

        transform: translateX(-3px) rotate(
    -2deg
    );
    }
}