.hov-b__beat {
  &:hover, &:focus {
    animation: hov-beat 1s linear infinite;
  }

  &:active {
    animation: none;
  }
}

@keyframes hov-beat {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
}
