.hov-b__border-fade {
  --hov-border-fade-border-color: #e1e1e1;
}

.hov-b__border-fade {
  transition: box-shadow 0.2s ease-in;
  &:hover, &:focus {
    box-shadow: inset 0 0 0 4px var(--hov-border-fade-border-color);
  }
}
