.hov-b__border-reveal {
  --hov-border-reveal-color: #f4ecff;
}

.hov-b__border-reveal {
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    background: var(--hov-border-reveal-color);
    height: 4px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &--b:before {
    bottom: 0;

    transform: translateY(4px);
  }

  &--b:hover,
  &--b:focus {
    &:before {
      transform: translateY(0);
    }
  }

  &--t:before {
    top: 0;
    transform: translateY(-4px);
  }

  &--t:hover,
  &--t:focus {
    &:before {
      transform: translateY(0);
    }
  }
}
