//===================================ARROW RIGHT==================================


.btnc--h__arrow-right {
  padding: 0.5rem 3rem;
  position: relative;
  overflow: hidden;

  &:hover {
    opacity: .9;
  }
  &:focus {
    opacity: 1;
  }

  & svg {
    transition: all 0.2s ease-in;
    width: 30px;
    position: absolute;
    right: 4%;
    font-size: 3rem;
    fill: inherit;
  }
}

.btnc--h__arrow-right--rl {
  & svg {
    transform: translateX(140%);
  }

  &:hover svg {
    transform: translateX(0);
  }
}

.btnc--h__arrow-right--lr {
  & svg {
    transition: all 0.1s ease-in;

    transform: translateX(-80%);
    opacity: 0;
  }

  &:hover svg {
    transform: translateX(0);
    opacity: 1;
  }
}

//==================================ARROW LEFT================================

.btnc--h__arrow-left {
    padding: 0.5rem 3rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  &:hover {
    opacity: .9;
  }
  &:focus {
    opacity: 1;
  }
    & svg {
    transform: rotate(180deg);

      transition: all 0.2s ease-in;
      width: 30px;
      position: absolute;
      left: 7%;
      font-size: 3rem;
      fill: inherit;
    }
  }
  
  .btnc--h__arrow-left--rl {
    & svg {
      transform: rotate(180deg) translateX(70px);
    }
  
    &:hover svg {
      transform:  rotate(180deg) translateX(6px);
    }
  }
  
  .btnc--h__arrow-left--lr {
    & svg {
      transition: all 0.1s ease-in;
  
      transform:  rotate(180deg)  translateX(-140%);
      opacity: 0;
    }
  
    &:hover svg {
      transform:  rotate(180deg)  translateX(6px);
      opacity: 1;
    }
  }