.btnc--h__arrow-right {
  padding: 0.5rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:after {
  transition: all .35s ease;

    // display: inline-flex;
// justify-content: center;
// align-items: center;
    content: "";

    background-size: 2rem 2rem;
    height: 2rem;
    width: 2rem;
    position: relative;
   transform: translateX(300%);
    position:absolute;
    // top: 0; left: 0;
    // text-align: center;
    // height: 40px;
    // width: 40px;
  }
  &:hover:after {
    transform: translateX(140%);
    opacity: .65;
  }
}
.arrow {
    fill: green;
}