.hov-l__t-shrink {
  --hov-l-t-shrink-color: #fff;
}

.hov-l__t-shrink {
  position: relative;
  &:before {
    color: var(--hov-l-t-shrink-color);
    content: attr(data-css-hov-l);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover,
  &:focus {
    &:before {
      transform: scale(0.9);
      opacity: 0;
    }
  }
}
