.hov-b__bg-to-border {
  --hov-bg-to-border-text-color: #fff;
  --hov-bg-to-border-background-color: rgba(255, 255, 255, 0.1);
  --hov-bg-to-border-border-color: rgba(255, 255, 255, 0.5);
}
.hov-b__bg-to-border {
  border: none;
  overflow: hidden;
  color: var(--hov-bg-to-border-text-color);
  transition: all 0.5s;
  z-index: 1;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--hov-bg-to-border-background-color);
    transition: all 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid var(--hov-bg-to-border-border-color);
    border-radius: 8px;
    transform: scale(1.2, 1.2);
  }

  &.btnc--pill.hov-b__bg-to-border:after {
    border-radius: 40px;
  }
  &.btnc--square.hov-b__bg-to-border:after {
    border-radius: 0;
  }
  &.btnc--circle.hov-b__bg-to-border:after {
    border-radius: 50%;
  }

  &:hover {
    &:before {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    &:after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
