.ig-oYa {
  overflow-y: auto !important;
}

.ig-oYh {
  overflow-y: hidden !important;
}

.ig-oYs {
  overflow-y: scroll !important;
}

.ig-oYv {
  overflow-y: visible !important;
}

.ig-oXa {
  overflow-x: auto !important;
}

.ig-oXh {
  overflow-x: hidden !important;
}

.ig-oXs {
  overflow-x: scroll !important;
}

.ig-oXv {
  overflow-x: visible !important;
}
