:root {
  --pm-spacer: 1em;
}

//Padding around

.ig-p-0 {
  padding: 0 !important;
}

.ig-p-1 {
  padding: calc(var(--pm-spacer, 1em) * 0.25) !important;
}

//Padding left and right
.ig-px-2 {
  padding-right: calc(var(--pm-spacer, 1em) * 0.5) !important;
  padding-left: calc(var(--pm-spacer, 1em) * 0.5) !important;
}

//Padding top and bottom

//Padding left
.ig-pl-2 {
  padding-left: calc(var(--pm-spacer, 1em) * 0.5) !important;
}

//Padding right

//Padding top

//Padding-bottom
