.expand-content-v1 {
  &__container {
    width: var(--expand-content-v1-container-width, 100%);
    margin: var(--expand-content-v1-container-margins, 0);
    max-height: var(--expand-content-v1-container-height, auto);
    box-shadow: var(--expand-content-v1-container-shadow, none);
    overflow: hidden;
    transition: var(--expand-content-v1-transition-duration, 0.55s);
  }
  &__title-trigger {
    border: none;
    padding: var(--expand-content-v1-title-trigger-padding, 0);
    background-color: var(--expand-content-v1-title-trigger-bg-color, black);
    color: var(--expand-content-v1-title-trigger-text-color, #fff);
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  &__inner-content {
    background-color: var(--expand-content-v1-inner-content-bg-color, #fff);
    padding: var(--expand-content-v1-inner-content-padding, 0);
    color: var(--expand-content-v1-inner-content-text-color, black);
    transform: translateY(-100%);
    overflow: hidden;
    transition: var(--expand-content-v1-transition-duration, 0.55s);
  }
  &__has-indicator {
    display: flex;
    justify-content: space-between;
  }
}

.expand-content-v1__container.expand-content-v1__inner-content--is-open {
  max-height: var(--expand-content-v1-container-max-height, 1000px);
  height: 100%;
}
.expand-content-v1__inner-content--is-open .expand-content-v1__inner-content {
  transform: none;
}
