// breakpoints

$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

html, body {
  background-color: var(--color-dark);
  overflow-x: hidden;
  overflow: hidden;
}

@media only screen and (max-width: $bp-xxl) {
    html {
      font-size: 90.5%;
    }
  }
  @media only screen and (max-width: $bp-xl) {
    html {
      font-size: 80.5%;
    }
  }
  @media only screen and (max-width: $bp-lg) {
    html {
      font-size: 70.5%;
    }
  }


 
