///////////////////////////////////////////////=================OVERFLOW=================//////////////////////////////////
.ig-oYa {
    overflow-y: auto;
}

.ig-oYh {
    overflow-y: hidden;
}

.ig-oYs {
    overflow-y: scroll;
}

.ig-oYv {
    overflow-y: visible;
}


.ig-oXa {
    overflow-x: auto;
}

.ig-oXh {
    overflow-x: hidden;
}

.ig-oXs {
    overflow-x: scroll;
}

.ig-oXv {
    overflow-x: visible;
}

//positionning 

.ig-pr {
    position: relative;
  }
.ig-pa {
    position: absolute;
  }
