.btnc__with-icon-on-bg {
  overflow: hidden;
  border: none;
  padding-right: 3.625rem;
  &:after {
    content: "";
    width: 2.5rem;
    height: 100%;
    position: absolute;
    right: 0;
  }

  & svg {
    fill: currentColor;
    position: absolute;
    right: 4%;
    z-index: 2;
    height: 1.5rem;
    width: 1.5rem;
  }

  &.btnc--sm {
    padding-right: 2.625rem;

    &:after {
      width: 2.25rem;
    }

  }


  &.btnc--lg {
    &:after {
      width: 2.7rem;
    }
  
  
  }

  &.btnc--xl {

    &:after {
      width: 3rem;
    }
    padding-right: 3.875rem;

  }
  &.btnc--xxl {
    padding-left: 1.75rem;
    &:after {
      width: 4rem;
    }
    padding-right: 4.875rem;
    & svg {
      right: 5%;
    }

  }

  // icon at the beginning of the button

  &--start {
    padding-right: 0.75rem;
    padding-left: 3.125rem;

    &:after {
      left: 0;
    }

    & svg {
        left: 4%;

    }

    &.btnc--sm {
        padding-right: 0.75rem;
        padding-left: 2.875rem;

        &:after {
          width: 2.25rem;
        }
    
   
    }

    &.btnc--lg {
        padding-right: 1rem;
        padding-left: 3.5rem;

        &:after {
          width: 2.5rem;
        }
  
    }
    &.btnc--xl {
        padding-right: .75rem;
        padding-left: 3.5rem;

        &:after {
          width: 2.875rem;
        }

    }
    &.btnc--xxl {
        padding-right: .75rem;
        padding-left: 4.875rem;

        &:after {
          width: 4rem;
        }
        & svg {
          left: 5.4%;
        }

    }
  }

  &--line-only {
      &:after {

          background-color: transparent !important;
          opacity: .3;
          border-left: solid 2px currentColor;

      }

      &.btnc__with-icon-on-bg--start {

        &:after {
            border-left: none;
            border-right: solid 2px currentColor;
        }

      }
  }
}

