@import '../../../../../mixins/mixins';

.btnc__icon-push {
    overflow: hidden;

    & span {
        transition: all 0.2s cubic-bezier(.53,-0.05,.72,.66);
    }
    & svg {
        transition: all 0.2s cubic-bezier(.53,-0.05,.72,.66);
   position: absolute;
   left: 50%;
   transform: translate(-50%, -500px);
    }

    &:hover {

        & span {

            transform: translateY(120%);

        }
        & svg {
            transform: translate(-50%, 0);
        }
    }
}

.btnc__icon-push--vertical {
    & svg {
        transition: all 0.2s cubic-bezier(.53,-0.05,.72,.66);
   transform: translateX(-500px);
    }

    &:hover {

        & span {

            transform: translateX(300%);

        }
        & svg {

            transform: translateX(-50%);
        }
    }

}