.hov-l__b-and-t-fill {
  --hov-l-b-and-t-fill-color: #e8efff;
  --hov-l-b-and-t-fill-border-size: 2px;
}

.hov-l__b-and-t-fill {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: var(--hov-l-b-and-t-fill-border-size) solid var(--hov-l-b-and-t-fill-color);
    color: var(--hov-l-b-and-t-fill-color);
    content: attr(data-css-hov-l);
    transition: max-width 0.5s, height 0.5s, opacity 0.5s;
  }

  &--lr {
    &:before {
      max-width: 0;
    }

    &:hover,
    &:focus {
      &:before {
        max-width: 100%;
      }
    }
  }
  &--rl {
    &:before {
      max-width: 100%;
    }

    &:hover,
    &:focus {
      &:before {
        max-width: 0;
      }
    }
  }

  &--tb {
    &:before {
      height: 0;
      opacity: 0;
    }

    &:hover,
    &:focus {
      &:before {
        height: 100%;
        opacity: 1;
        border-bottom: var(--hov-l-b-and-t-fill-border-size) solid var(--hov-l-b-and-t-fill-color);
      }
    }
  }
  &--bt {
    &:before {
      height: 100%;
      opacity: 1;
    }

    &:hover,
    &:focus {
      &:before {
        height: 0;
        opacity: 0;
        border-bottom: var(--hov-l-b-and-t-fill-border-size) solid var(--hov-l-b-and-t-fill-color);
      }
    }
  }
}
