@import "../../../../mixins/mixins";
$nav-font-size: 3.5rem;

.ig-ofts-nav {
  &__container {
    font-size: $nav-font-size;
    font-family: var(--font-secondary);
    font-weight: 400;
    text-align: center;
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;
    &:hover {
      color: var(--color-white);
    }
  }
}

.ig-ofts-dropdown-menu { 
    &__list {
        @media only screen and (max-width: $bp-lg) {
            background-color: lighten(#040710, 3%);
            & li {
      font-size: calc(#{$nav-font-size} - 10px);

            }
          }
    }
    &__link {
    color: var(--color-white);

    }

}

