.hov-l__bb-text-color-change-subtle {
  --border-color: #b6aec8;
  --border-size: 1px;
  --hov-text-color: #b6aec8;
  --transition-speed: 0.2s;
}

.hov-l__bb-text-color-change-subtle {
  position: relative;
  &:before {
    content: "";
    border-bottom: solid var(--border-size) var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all var(--transition-speed) ease;
  }

  &:hover,
  &:focus {
    color: var(--hov-text-color);
    &:before {
      opacity: 1;
    }
  }
}
