.hov-l__b-tb-exchange {
  --hov-l-b-tb-exchange-color-1: #797878;
  --hov-l-b-tb-exchange-color-2: #e8efff;
  --hov-l-b-tb-exchange-border-height: 2px;
}

.hov-l__b-tb-exchange {
  position: relative;
  &:before,
  &:after {
    height: var(--hov-l-b-tb-exchange-border-height);
    width: 100%;
    background-color: var(--hov-l-b-tb-exchange-color-1);
    content: "";
    position: absolute;
    visibility: hidden;
    transition: 0.3s;
  }

  &:before {
    left: 0;
    top: 0;
  }
  &:after {
    left: 0;
    top: 100%;
  }

  &:hover, &:focus {
    &:before,
    &:after {
      visibility: visible;
      background-color: var(--hov-l-b-tb-exchange-color-2);
    }
    &:before {
      top: 100%;
    }
    &:after {
      top: 0;
    }
  }
}
