.shadowc {
  @extend .shadowc__h__transition;

  &:hover {
    @extend .shadowc__h__transition;
  }

  &.shadowc--light {
    --shadowc-1-color-rgb: 59, 59, 59;
    --shadowc-2-color-rgb: 59, 59, 59;
  }
}

.shadowc__h__transition {
  transition: box-shadow var(--shadowc-h-transition-speed, 0.3s)
    var(--shadowc-h-transition-cb, cubic-bezier(0.25, 0.8, 0.25, 1));
}



.shadowc--subtle {
  box-shadow: var(--shadowc-subtle-1-xyr, 0 3px 1px -2px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-subtle-1-opacity, 0.2)),
    var(--shadowc-subtle-2-xyr, 0 2px 2px 0)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-subtle-2-opacity, 0.14)),
    var(--shadowc-subtle-3-xyr, 0 1px 5px 0)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-subtle-3-opacity, 0.12));
  &.shadowc__h {
    @extend .shadowc__h--subtle;
  }
}

.shadowc--sm {
  box-shadow: var(--shadowc-sm-1-xyr, 0 1px 3px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-sm-1-opacity, 0.12)),
    var(--shadowc-sm-2-xyr, 0 1px 3px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-sm-2-opacity, 0.24));
  &.shadowc__h {
    &:hover {
      @extend .shadowc__h--sm;
    }
  }
}

.shadowc--md {
  box-shadow: var(--shadowc-md-1-xyr, 0 3px 6px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-md-1-opacity, 0.16)),
    var(--shadowc-md-2-xyr, 0 3px 6px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-md-2-opacity, 0.23));

  &.shadowc__h {
    &:hover {
      @extend .shadowc__h--md;
    }
  }
}

.shadowc--lg {
  box-shadow: var(--shadowc-lg-1-xyr, 0 10px 20px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-lg-1-opacity, 0.19)),
    var(--shadowc-lg-2-xyr, 0 6px 6px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-lg-2-opacity, 0.23));

  &.shadowc__h {
    &:hover {
      @extend .shadowc__h--lg;
    }
  }
}

.shadowc--xl {
  box-shadow: var(--shadowc-xl-1-xyr, 0 14px 28px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-xl-1-opacity, 0.45)),
    var(--shadowc-xl-2-xyr, 0 10px 10px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-xl-2-opacity, 0.22));

  &.shadowc__h {
    &:hover {
      @extend .shadowc__h--xl;
    }
  }
}

.shadowc--xxl {
  box-shadow: var(--shadowc-xxl-1-xyr, 0 19px 38px)
      rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-xxl-1-opacity, 0.3)),
    var(--shadowc-xxl-2-xyr, 0 15px 12px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-xxl-1-opacity, 0.22));
  &.shadowc__h {
    &:hover {
      @extend .shadowc__h--xxl;
    }
  }
}

// hover state

.shadowc__h--subtle {
  &:hover {
    box-shadow: var(--shadowc-h-subtle-1-xyr, 0 4px 8px -2px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-subtle-1-opacity, 0.2)),
      var(--shadowc-h-subtle-2-xyr, 0 4px 6px 0)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-subtle-2-opacity, 0.14)),
      var(--shadowc-h-subtle-3-xyr, 0 3px 10px 0)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-subtle-3-opacity, 0.12));
  }
}

.shadowc__h--sm {
  &:hover {
    box-shadow: var(--shadowc-h-sm-1-xyr, 0 14px 28px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-sm-1-opacity, 0.25)),
      var(--shadowc-h-sm-2, 0 10px 10px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-h-sm-2-opacity, 0.22));
  }
}

.shadowc__h--md {
  &:hover {
    box-shadow: var(--shadowc-h-md-1-xyr, 0 16px 32px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-md-1-opacity, 0.35)),
      var(--shadowc-md-sm-2, 0 13px 16px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-h-md-2-opacity, 0.21));
  }
}

.shadowc__h--lg {
  &:hover {
    box-shadow: var(--shadowc-h-lg-1-xyr, 0 20px 40px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-lg-1-opacity, 0.25)),
      var(--shadowc-lg-sm-2, 0 20px 20px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-h-lg-2-opacity, 0.22));
  }
}

.shadowc__h--xl {
  &:hover {
    box-shadow: var(--shadowc-h-xl-1-xyr, 0 26px 48px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-xl-1-opacity, 0.35)),
      var(--shadowc-xl-sm-2, 0 26px 30px) rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-h-xl-2-opacity, 0.22));
  }
}

.shadowc__h--xxl {
  &:hover {
    box-shadow: var(--shadowc-h-xxl-1-xyr, 0 34px 58px)
        rgba(var(--shadowc-1-color-rgb, 0, 0, 0), var(--shadowc-h-xxl-1-opacity, 0.25)),
      var(--shadowc-h-xxl-2, 0 30px 16px)
        rgba(var(--shadowc-2-color-rgb, 0, 0, 0), var(--shadowc-h-xxl-2-opacity, 0.22));
  }
}


