.hov-l__shape-char-lr {
  --hov-l-char-content-left: "<";
  --hov-l-char-left-adjustment-margin-rem: -0.875rem;
  --hov-l-char-content-right: ">";
}

.hov-l__shape-char-lr {
  position: relative;
  &:before,
  &:after {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    position: absolute;
    opacity: 0;
    transform: translateX(12px);
  }
  &:before {
    content: var(--hov-l-char-content-left);
    margin-left: var(--hov-l-char-left-adjustment-margin-rem);
  }
  &:after {
    content: var(--hov-l-char-content-right);
    transform: translateX(-12px);
  }

  &:hover,
  &:focus {
    &:before {
      opacity: 1;
      transform: translateX(-17px);
    }
    &:after {
      opacity: 1;
      transform: translateX(17px);
    }
  }
}